.contact {
  @extend %list;
  display: none;
  flex-direction: column;
  align-items: start;

  margin-left: 96px;
  }


.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $text-color;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

  &:hover,
  &:focus,
  &:hover .contact__icon,
  &:focus .contact__icon {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contact__icon {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: rgba(117, 117, 117, 1);

  transition-property: fill;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;
}

.header-mail {
  width: 14px;
  height: 10px;
}

.header-tel {
  width: 10px;
  height: 14px;
}
