.header {
  background-color: $priority-bg-color;
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  @extend %list;
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: $priority-title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

  &:hover, &:focus {
   color: $accent-color;
    }
}

.site-nav__link--active {
  position: relative;
  color: $accent-color;

&::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';

  min-width: 100%;
  height: 4px;
  border: none;

  background-color: $accent-color;
  outline: 2px;
  border-radius: 2px;
}
}

.contact {
  @extend %list;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $priority-title-color;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;

  &:hover, &:focus,
  &:hover .contact__icon,
  &:focus .contact__icon {
      color: $accent-color;
      fill: $accent-color;
    }
}

.contact__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: rgba(117, 117, 117, 1);

  transition-property: fill;
  transition-duration: $time-hover;
  transition-timing-function: $time-function;
}



